{% extends "layout.html" %}
{% block image %}

<div class='tech' style="font-family: Calibri MS;color: white;";>
    <ol>
        <li><h2>Tensorflow</h2></li>
        <li><h2>MobileNet_V2</h2></li>
        <li><h2>Flask</h2></li>
        <li><h2>Jinja Templates</h2></li>
        <li><h2>Bootstrap</h2></li>

        <li><h2 style="text-decoration: underline; font-weight: bold;">Library & modules Used :</h2></li>
        <ul>
            <li><h3>OpenCv</h3></li>
            <li><h3>Numpy</h3></li>
            <li><h3>Tensorflow</h3></li>
        </ul>

    </ol>
    
    
</div>
{% endblock%}